
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CONNEXION | HSS</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ encore_entry_link_tags('app') }}
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        <h4 href="#" class="text-gray">
            <i class="fas fa-toolbox"></i> <b>HOST</b> SCHOOL MANAGMENT
        </h4>
    </div>


    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Ouvrez une session en vous connectant</p>

            <form method="post">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="_username"
                           placeholder="Connectez-vous avec votre nom" autofocus >
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" name="_password"
                           placeholder="Entrez votre mot de passe">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock see"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- /.col -->
                    <div class="col-12">
                        <button type="submit" class="btn btn-success btn-block mt-4 shadow">
                            <i class="far fa-dot-circle"></i> Connexion
                        </button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

        </div>
        <!-- /.login-card-body -->
    </div>
</div>
<!-- /.login-box -->

{{ encore_entry_script_tags('app') }}

{% block javascripts %}
    <script>
        {% if error %}
        window.notification( 'error' , 'Erreur de connexion' ,
            '{{ error.messageKey|trans( error.messageData , 'security') }}' )
        {% endif %}
    </script>
{% endblock %}

</body>
</html>