
<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-users-cog"></i>
        <p>Gestion du personnel
            <i class="fas fa-angle-down right"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="{{ path('list_utilisateur') }}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Liste du personnel</p>
            </a>
        </li>

        <li class="nav-item">
            <a href="{{ path('gestion_des_roles') }}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Gestion des roles</p>
            </a>
        </li>

        <li class="nav-item">
            <a href="{{ path('ajout_personnel') }}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Ajouter</p>
            </a>
        </li>
    </ul>
</li>