<!-- /.content-wrapper -->
<footer class="main-footer shadow border-none">
    <strong>Copyright &copy; 2020 - {{ "now"|date('Y') }} <a href="#" class="text-olive">EDEN IT SYSTEMS</a>.</strong>
    Tous droits réservés.
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 1.0.0
    </div>
</footer>